/* ion-card{
    display: flex;
    flex-direction: column;
    width: 70% !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
  }

ion-header{
    display: flex;
    flex-direction: column;
    width: 70% !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
  } */